.container{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer; /* schimba cursorul in minuta ca sa arate ca poza este clicabila  */
    border-radius: 0.8rem;
}

.image{
    width: 100%;
    object-fit: cover;
    border-radius: 0.8rem;
    user-select: none;
    aspect-ratio: 16/9;  /* proportia 16/9  dimensiunea la poza  */
}

.isSelected{
    border: 2rem solid #00fe44;
    transform: scale(2%);
}

.imageTitle{
    text-align: start;
    font-size: 1rem;
    font-weight: bold;
    color: black;



}
